@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Noto+Sans+Vithkuqi:wght@500&family=Noto+Sans:wght@500&display=swap');
* {
    margin: 0;padding: 0;font-family: Arial, Helvetica, sans-serif;border: none;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    box-shadow: 0px 20px 40px 0px rgba(189, 189, 189, 0.494);
    height: 90vh;
    width: 90%;
    border-radius: 15px;
    padding: 20px 15px;
    display: grid;
    /* background: lightseagreen; */
    grid-template: repeat(12, 1fr) / 15% 60% 25%;
}

/* ---nav--- */
nav {
    grid-row: 1/13;
    grid-column: 1/2;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(1, 1fr);
}
.nav-top {
    grid-row: 1/2;
    display: flex;
    padding: 15px;
}
.nav-top span {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 4px;
}
.nav-center {
    grid-row: 2/6;
    padding-left: 15px;
    display: flex; flex-direction: column; justify-content: space-evenly;
    color: rgb(83, 83, 83);
}
.group-menu {
    display: flex; align-items: flex-end;
    gap: 15px;
    font-size: 14px;
    margin-bottom: 25px;
}
.group-menu span {
    font-size: 22px;
}
.nav-bottom {
    position: relative;
    grid-row: 6/8;
    background-color: #f1f1f1;
    margin-right: 15px;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}
.nav-bottom img {
    position: absolute;
    top: -25px;
}
.nav-bottom span {
    position: absolute;
    top: 65px;
}
.nav-bottom button {
    position: absolute;
    bottom: 15px;
    width: 80%;
    height: 20%;
    background-color: #368fd7;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* ---main--- */
mian {
    grid-row: 1/13;
    grid-column: 2/3;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(1, 1fr);
    gap: 20px;
}
.name {
    grid-row: 1/2;
    display: flex; align-items: center;
    gap: 20px;
}
.name .date {
    display: flex; justify-content: flex-end;
}
.name span {
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    color: #368fd7;
}
.name-left {
    margin-right: auto;
}

header {
    grid-row: 2/4;
    background-color: #ffe2e7;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0px 50px;
    border-radius: 10px;
}
header .content {
    display: flex; flex-direction: column;
    flex: 1;
    gap: 10px;
}
header img {
    width: 30%;
    margin: 0px 50px 25px 0px;
}
.main-content {
    grid-row: 4/8;
    display: flex;
    border-radius: 10px;
    gap: 15px;
}
.main-content .left,.main-content .right {
    flex: 4;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 0px 15px;
    display: flex; flex-direction: column; justify-content: space-evenly;
}
.more {
    display: flex; align-items: center;
    gap: 10px;
}
.result:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
    display: flex; align-items: center; justify-content: space-between;
    padding: 10px;
    border: none;
}
.result {
    border-top: 1px solid #b3b3b3;
    display: flex; justify-content: space-between;
    padding: 10px 0px;
}
.range{
    display: flex;
    justify-content: flex-end;
}
.myrange{
    width: 90%;
}
.main-content .right {
    flex: 5;
}
.right .right-top,.right .right-bottom {
    flex: 1;
    display: flex; align-items: center;
    padding-top: 10px;
    font-weight: bold;
}
.week {
    display: flex; align-items: center;
    gap: 5px;
}
.right .right-center {
    flex: 3;
    display: flex; justify-content: space-evenly;
}
.right .right-bottom {
    flex: 0.8;
    font-weight: normal;
    justify-content: space-evenly;
    font-size: 14px;
}
.day {
    display: flex; flex-direction: column; align-items: center;
    gap: 5%;
}
.day-range {
    background:linear-gradient(to bottom, #efc4c4 50%,  white 0%) ;
    height: 100%;
    width: 5px;
    border-radius: 2px;
}
.subject {
    display: flex;
    align-items: center;
    gap: 5px;
}
.radio {
    width: 10px;height: 10px;border-radius: 50%;
    background: #fabdbd;
}
.subject:nth-child(2) .radio{
    background-color: #31b5f2;
}
.subject:nth-child(3) .radio {
    background-color: lightseagreen;
}
.subject:nth-child(4) .radio {
    background: lightgreen;
}
footer {
    grid-row: 8/11;
    display: flex; flex-direction: column;
    gap: 15px;
}
.course {
    flex: 1;
    display: flex; align-items: center; justify-content: space-between;
}
footer .subject {
    display: flex;
    margin: 15px 0px;
    gap: 20px;
    flex: 3;
}
footer .subject .left,.subject .center,.subject .right {
    flex: 1;;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
}
.subject .left {
    background-color: #3c49a8;
}
.level {
    background: rgba(255, 255, 255, 0.084);
    padding: 15px;
    border-radius: 5px;
}
.left .name,.center .name,.right .name {
    flex: 1; display: flex; flex-direction: column;
}
.name div {
    flex: 1;
    width: 100%;
}
.subject .center {
    background: #7156de;
}
.subject .right {
    background: lightcoral;
}

/* ---aside---- */
aside {
    grid-row: 1/13;
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 100%;
    padding-left: 20px;
}
.profile {
    grid-row: 1/2;
    display: flex; flex-direction: column; align-items: center;
    gap: 20px;
}
.logout {
    display: flex; justify-content: space-between;
    width: 100%;
}
.picture {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #7c7c7c49;
}
.picture .material-symbols-outlined {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #4b97e7;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.desciption {
    display: flex; flex-direction: column; align-items: center;
    gap: 5px;
}
aside .languages {
    grid-row: 2/3;
    display: flex; flex-direction: column;
    padding: 20px 0px;
}
.english,.spanish  {
    flex: 1; display: flex; align-items: center;
    gap: 15px;
}
.levels {
    background-color: rgb(225, 225, 225);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.inter,.advance {
    display: flex; flex-direction: column;
    gap: 10px;
}
.level-range {
    flex: 1;
    height: 5px;
    display: flex; justify-content: flex-end;
}
.level-range .range {
    height: 5px;
    width: 80px;
    background:linear-gradient(to left,  skyblue 60% , white 0) ;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}
aside .remember {
    grid-row: 3/4;
    display: flex; flex-direction: column;
    gap: 15px;
}
.notification {
    display: flex; justify-content: space-between; align-items: center;
}
.test {
    display: flex; flex-direction: column;
    gap: 20px;
}
.homework{
    display: flex;
    gap: 15px;
}
.homework span {
    background-color: rgb(225, 225, 225);
    padding: 5px;
    border-radius: 5px;
}
.homework:nth-child(1) span {
    background-color: pink;
    color: tomato;
}
.homework:nth-child(2) span {
    background-color: rgb(196, 196, 246);
    color: #3c49a8;
}
/* --all-- */
nav,mian,aside{
    display: grid;
}