* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    height: 100vh;
    display: grid;
    grid-template: repeat(19, 1fr) / repeat(5, 1fr);
    grid-template: 
        "n n n n n"
        "h h h h h"
        "h h h h h"
        "h h h h h"
        "h h h h h"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "f f f f f"
        "f f f f f"
        "f f f f f"
        ;
}
nav {
    grid-area: n;
    background-color: #eaac88;
}
header {
    grid-area: h;
    background-color: #e56b6f;
}
.container {
    grid-area: c;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    gap: 15px;
    background-color: #b56576;
}
.sidebar-left {
    background-color: #955361;
    grid-row: 1 / 3;
}
main {
    background-color: #6d597a;
    grid-row: 1 / 3;
    grid-column: 2 / 6;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
main > div {
    background: #4a3c53;
    display: grid;
    align-content: end;
    justify-content: end;
}
span {
    background: #000;
    padding: 5px;
    border-radius: 5px 0px 0px 0px;
}
.sidebar-right {
    background-color: #794d56;
    grid-row: 1 / 3;
    display: grid;
}
.banner1 {
    background-color: #905c68;
}
.banner2 {
    background-color: #794d56;
}
footer {
    grid-area: f;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr)
}
.footer-left {
    background-color: #355070;
}
.footer-center {
    background: #293e58;
}
.footer-right {
    background: #1b293b;
}
/* --more-- */
.footer-left,.footer-center,.footer-right,nav,header,.sidebar-left,.banner1,.banner2 {
    display: grid; align-content: center; justify-content: center;
}