* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    width: 45%;
    height:95%;
    padding: 20px;
    padding-top: 10px;
}
.create {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}
.create button {
    padding: 8px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 11, 81, 0.5);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.create button:hover {
    background-color: rgba(0, 11, 81, 0.6);
}
.acc{
    flex: 1;
    font-size: 30px;
    display: flex;
    font-weight: 600;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(right, #ae00ff, #4cf3dc,  #ae00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form {
    display: flex;
    flex-direction: column;
    flex: 6;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 40px 0px 40px 0px;
    padding: 30px;
    gap: 15px;
    box-shadow: 5px 5px 5px 5px rgb(124, 23, 255);
}
label {
    color: rgb(0, 11, 81);
    font-size: 18px;
}

/* --name-- */
.name {
    display: flex;
    width: 100%;
    gap: 10px;
}
.first-name {
    flex: 1;
}
.first-name input,
.last-name input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}
::placeholder {
    padding-left: 10px;
    color: white;
}
.last-name {
    flex: 1;
}

/* --email-- */
.email {
    display: flex;
    flex-direction: column;
}
.email input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

/* --password-- */
.password {
    display: flex;
    width: 100%;
    gap: 10px;
}
.pass {
    flex: 1;
}
.pass input,
.confirm-pass input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}
.confirm-pass {
    flex: 1;
}
.personal {
    display: flex;
    gap: 10px;
}
.gender {
    flex: 1;
}
.hobby{
    flex: 1;
}

/* --income-- */
.income {
    display: flex;
    gap: 10px;
}
.income-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.income-left select {
    height: 30px;
    border: 1px solid white;
    color: rgb(60, 0, 94);
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
}
.income-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.range{
    display: flex;
    gap: 5px;
}
span {
    padding: 5px;
    background-color: rgb(0, 11, 81);
    border-radius: 5px;
    color: white;
}
.income-right input {
    width: 90%;
    background-color: white;
}

/* --age-- */
.age {
    display: flex;
    gap: 10px;
    align-items: center;
}
.age-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.age-left input{
    border-radius: 5px;
    width: 80%;
    color: rgb(31, 31, 31);
    background-color: rgba(255, 255, 255,);
}
.age-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.age-right input[type = number] {
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

/* bio */
.bio {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* 
    All
    input
*/
textarea {
    max-height: 40px;
    max-width: 90%;
    min-width: 50%;
    min-height: 40px;
    background-color: rgba(52, 52, 52, 0.2);
    color: white;
    border: 1px solid white;
}
input[type = text],
input[type = password]{
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
}