* {
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:none;
}
/* Navbar style */
nav {
    background: #cf3535;
    /* display: none; */
}
ul {
    display: flex;
    align-items: center;

}
ul li span {
    display: none;
}
li {
    padding: 12px;
}
li a {
    color: #fff;
    text-transform: uppercase;
}

/* Container style */

.container {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    gap: 10px;
    flex-wrap: wrap;
}
.card {
    background: #fff;
    width: 23%;
    padding: 10px;
    height: 100px;
}

/* 
 */
    /* @media (orientation :landscape){
        body {
            background-color: orange;
        }
        h1::before{
            content: "I'm in landscape";
            background-color: purple;
            padding: 10px;
        }
    }
    @media (orientation :portrait){
        body {
            background-color: purple;
            
        }
        h1::after{
            content: "I'm in portrat";
            color: white;
            background-color: orange;
            padding: 10px;
        }
} */


/* --Max width-- */
    /* @media (max-width: 1524px) {
        body{
            background-color: skyblue;
        }
    }
    @media (max-width: 1024px) {
        body{
            background-color: lightseagreen;
        }
    }
    @media (max-width: 720px) {
        body{
            background-color: lightskyblue;
        }
    } */
/*  */


/* --Min width-- */
@media (min-width: 0px) and (max-width: 740px) and (orientation: portrait) {
    body{
        background-color: tomato;
        height: 120vh;
    }
    .card {
        width: 90%;
    }
    .container{
        width: 100%;
        justify-content: center;
    }
    nav {
        display: flex;
        background-color: lightseagreen;
        position: sticky;
        top: 0;
    }
    li:nth-child(2),li:nth-child(3),li:nth-child(4){
        display: none;
    }
}
@media (min-width: 720px) and (max-width: 1080px) {
    body{
        background-color: khaki;
        height: 100vh;
    }
    .card {
        width: 48%;
    }
    .container {
        justify-content: center;
    }
}
@media (min-width: 1080px) and (max-width: 1930px) and (orientation: landscape) {
    body{
        background-color: black;
        height: 100vh;
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .card {
        width: 23%;
    }
}