* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    display: grid;
    height: 100vh;
    grid-template: repeat(15, 1fr) / repeat(5, 1fr);
    grid-template-areas: 
        "nav nav nav nav nav"
        "header header header header header"
        "header header header header header"
        "header header header header header"
        "barleft main main main barright"
        "barleft main main main barright"
        "barleft main main main barright"
        "barleft main main main barright"
        "barleft main main main barright"
        "barleft main main main barright"
        "barleft main main main barright"
        "barleft main main main barright"
        "footer footer footer footer footer"
        "footer footer footer footer footer"
        "footer footer footer footer footer"
        ;
}

nav {
    grid-area: nav;
    background: #eaac88;
}
header {
    grid-area: header;
    background: #e56b6f;
}
main {
    grid-area: main;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
    background: #64546e;
    padding: 20px;
}
main > div {
    background: #4a3c53;
    display: grid;
    align-content: end;
    justify-content: end;
    cursor: pointer;
}
span {
    background: #000;
    border-radius: 5px 0px 0px 0px;
    padding: 5px;
}
main > div:hover {
    box-shadow: 0px 5px 30px 0px rgba(0, 179, 255, 0.5);
}
.sidebar-left {
    grid-area: barleft;
    background: #955361;
}
.sidebar-right {
    grid-area: barright;
}
.banner1 {
    background: #905c68;
}
.banner2 {
    background: #794d56;
}
footer {  
    grid-area: footer;
    grid-template: 1fr / repeat(3, 1fr);
}
.footer-left {
    background: #355070;
}
.footer-center {
    background: #293e58;
}
.footer-right {
    background: #1b293b;
}
/* --more-- */
nav,header,main,.sidebar-left,.sidebar-right,footer{
    display: grid;
}

nav,header,.sidebar-left,.footer-left,.footer-center,.footer-right {
    display: grid;
    align-content: center;
    justify-content: center;
}
.banner1,.banner2 {
    display: grid;
    align-content: center;
    justify-content: center;
}