* {
    font-family: sans-serif;
}
body {
    text-align: center;
    color: #fff;
}
@media (orientation: landscape) {
    body {
        background: orange;
    }
    h1::before {
        content: 'Landscape Screen';
    }
}
@media (orientation: portrait) {
    body {
        background: purple;
    }
    h1::before {
        content: 'Portrait Screen';
    }
}