* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 75%;
    text-align: center;
    border-collapse: collapse;
}

/* head */
thead tr th:nth-child(even){
    padding: 15px;
    background-color: rgb(22, 193, 22);
}
thead tr th:nth-child(odd){
    padding: 15px;
    background-color: black;
    color: white;
}

/* body */
tbody {
    text-align: center;
}
tbody tr td {
    padding: 10px;
}
tbody tr td:nth-child(){
    background-color: black;
    color: white;
}
tbody tr:nth-child(even) td:nth-child(odd){
    background-color: #000000;
    color: white;
}
tbody tr:nth-child(even) td:nth-child(even){
    background-color: #d2d1d1;
    color: black;
}
tbody tr:nth-child(5){
    font-weight: bold;
}