/* Phone screen */
@media (min-width:0px) and (max-width:720px) {
    body {
        background: pink;
    }
}
/* Tablet screen */
@media (min-width:720px) and (max-width:1024px) {
    body {
        background: green;
    }
}

/* Computer or desktop screen */
@media (min-width:1024px) and (max-width:1920px) {
    body {
        background: orange;
    }
}
