@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Inconsolata:wght@500&family=Montserrat:wght@500&family=Noto+Sans+Vithkuqi:wght@500&family=Noto+Sans:wght@500&display=swap');
* {
    margin: 0;padding: 0;font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-columns: 17% 60% 23%;
    border-radius: 20px;
    box-shadow: 0 0 3em rgba(128, 128, 128, 0.5);
}
nav {
    /* grid-column: 1/2; */
    display: grid;
    grid-template-rows: 6% 65% 30%;
    padding: 15px;
}
.top {
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
    gap: 20px;
}
.top span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}
.icon {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}
main {
    background-color: lightseagreen;
    display: grid;
    grid-template-rows: 10% 60% 30%;
}
aside {
    display: grid;
    grid-template-rows: 10% 60% 30%;
}

/* --display flex-- */
