* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
    height: 100vh;
    grid-template: repeat(12, 1fr) / repeat(4, 1fr);
    grid-template-areas: 
        "nav nav nav nav"
        "nav nav nav nav"
        "left main main right"
        "left main main right"
        "left main main right"
        "left content1 content1 right"
        "left content1 content1 right"
        "left content1 content1 right"
        "left content2 content2 right"
        "left content2 content2 right"
        "left content2 content2 right"
        "footer footer footer footer"
        ;
}
.nav {
    grid-area: nav;
    background-color: #0ae075;
}
.side-left {
    grid-area: left;
    background-color: #09aa59;
}
.side-right {
    grid-area: right;
    background-color: #066e3a;
}
main {
    grid-area: main;
    background-color: #0ac869;
}
.content-1 {
    grid-area: content1;
    background-color: #088d4b;
}
.content-2 {
    grid-area: content2;
    background-color: #077c41;
}
footer {
    grid-area: footer;
    background-color: #044b28;
}
.nav,main,.side-left,.side-right,.content-1,.content-2,footer{
    display: grid;
    align-content: center;
    justify-content: center;
}